<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    	<!-- Document Description
    	============================================= -->
    	<meta name="description" content="Puyallup General Dentist Chris Madsen offers comprehensive general dentistry, family dentistry, and cosmetic dentistry. Serving the Puyallup, South Hill, Parkland and surrounding areas."/>

		<!-- Document Keywords
    	============================================= -->
    	<meta name="keywords" content="Puyallup Dentist - General, Family, and  Cosmetic Dentistry in Puyallup, WA by Chris Madsen, DDS - Home"/>

    	<!-- Document Title
    	============================================= -->
			<title>Puyallup Dentist - General, Family, and Cosmetic Dentistry in Puyallup, WA by Chris Madsen, DDS - Home</title>		

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- Put favicon.ico and apple-touch-icon(s).png in the images folder -->
<!-- 	    <link rel="shortcut icon" href="assets/images/favicon.ico">
 -->
		<!-- CSS StyleSheets -->
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="assets/css/assets.css">

		<link rel="stylesheet" href="assets/css/style.css">
		<link id="theme_css" rel="stylesheet" href="assets/css/light.css">

		<!-- REVOLUTION SLIDER STYLES -->
		<link rel="stylesheet" href="assets/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" type="text/css">
		<link rel="stylesheet" href="assets/revolution/css/settings.css" type="text/css">
		<link rel="stylesheet" href="assets/revolution/css/layers.css" type="text/css">
		<link rel="stylesheet" href="assets/revolution/css/navigation.css" type="text/css">

 		<link rel="stylesheet" href="assets/css/sliders/flexslider.css" />


		<!--[if lt IE 9]>
	    	<script type="text/javascript" src="assets/js/html5.js"></script>
	    <![endif]-->
	<!-- Custom Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Gentium+Book+Basic' rel='stylesheet' type='text/css'>

		<!-- Skin CSS file -->
		<link id="skin_css" rel="stylesheet" href="assets/css/skins/6.css">

    	<!-- Site Specific CSS
        ============================================= -->
    	<link rel="stylesheet" href="assets/css/madsen.css" type="text/css" />

	</head>
	<body>

        <!-- Home Anchor
        ============================================= -->
    	<div id="home"></div>

		<div class="pageWrapper animsition">
			<header class="top-head header-4 hidden-sm hidden-xs" data-sticky="true">
		    	<div class="container">

			    	<div class="up-head">

				    	<!-- Logo start -->
				    	<div class="logo hidden-sm hidden-xs">
					    	<a href="#" data-href="#home"><img alt="" src="assets/images/website-logo.svg" class="desktop-logo"/></a>
					    </div>

					    <div class="top-cart t-right visible-lg visible-md" id="top-info">
					    <p>Dr. Christopher R. Madsen &amp; Associates<p>
					    <p>
				    	New Patient Hotline: <span class="top-bar-nph"><a class="top-bar-nph"  href="tel:+18885470475">(888) 547-0475</a></span>
				    	</p>
				    	<p>
				    	Existing Patients call: <span class="top-bar-existing"><a class="top-bar-existing" href="tel:+12538640555">(253) 864-0555</a></span>
				    	<br>
				    	</p>
					    </div>

				    </div>

					<div class="full responsive-nav">
						<!-- top navigation menu start -->
						<nav class="top-nav to-right one-page to-top">
								<ul>
									<li class="current"><a href="#home">Home</a></li>
									<li><a href="#team">Meet The Doctor</a></li>
									<li><a href="#specials">Specials</a></li>
									<li><a href="#reviews">Reviews</a></li>
									<li><a href="#services">Services</a></li>
									<li><a href="#location">Location</a></li>
								</ul>
						</nav>
						<!-- top navigation menu end -->

					</div>
		    	</div>
		    </header>

	    	<!-- Mobile Logo-->
	    	<div class="text-center visible-sm visible-xs mobile-logo-madsen">
		    	<a href="#" data-href="#home"><img alt="logo" class="mobile-logo" src="assets/images/website-logo.svg"/></a>
		    <p class="doctor-logo-name" style="pading-top: 5px"><b>Dr. Christopher R. Madsen &amp; Associates</b></p>
		    </div>

             <!-- Slider
                ============================================= -->
                <section id="slider" class="slider-parallax revslider-wrap clearfix">
                    <div class="tp-banner-container">
                        <div class="tp-banner	">
                            <ul>

                                <!-- Slide 1
                                ============================================= -->
                                <li data-transition="zoomout" style="" data-slotamount="1" data-masterspeed="1500" data-saveperformance="off">

                                    <!-- MAIN IMAGE -->
                                    <img src="assets/images/slider/slide.jpg"  alt="" data-lazyload="assets/images/slider/slide-one.jpg" data-bgposition="center top" data-scale="cover" data-bgrepeat="no-repeat">

                                    <!-- LAYER 1 -->
                                    <div class="tp-caption tp-resizeme customin"
                                        data-x="right"
                                        data-y="center"
                                        data-hoffset="['100','0','0','0']"
                                        data-voffset="['0','0','0','0']"
                                        data-customin="x:0;y:-140;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:400;opacity:0;transformPerspective:500;transformOrigin:50% 50%;"
                                        data-speed="400"
                                        data-start="1200"
                                        data-easing="easeOutQuad"
                                        data-splitin="none"
                                        data-splitout="none"
                                        data-elementdelay="0.1"
                                        data-endelementdelay="0.3"
                                        data-endspeed="1000"
                                        data-endeasing="Power4.easeIn"
                                        style="background: rgba(0, 0, 0, 0.71); padding-bottom: 20px; opacity: 0.7 !important">
                                        <img src="assets/images/slider/headline.png" alt="" />
                                        <a class="btn main-bg btn-xl shape visible-md visible-lg slider-button" href="#" data-toggle="modal" data-target="#schedule-form">Click to Make Your Appointment</a>
                                    </div>

                                </li>

                            </ul>
                        </div>
                    </div>
                </section>


		    <div id="contentWrapper" style="background-color: #F3F2DB">

				<!-- CALLS TO ACTION -->
				<section id="cta-mobile" class="calls-to-action page-section visible-sm visible-xs">
					<div class="container clearfix">
						<div class="row">
							<div class="col-sm-6 phone-numbers phone-numbers-desktop">
								<h3>New Patient Hotline: <span><a href="tel:+18885470475">(888) 547-0475</a></span></h3>
							</div>
							<div class="col-sm-6 schedule-online">
								<a class="btn main-bg btn-xl shape" href="#" data-toggle="modal" data-target="#schedule-form">Request Appointment</a>
							</div>
						</div>
						<div class="row text-center existing-patients existing-patients-desktop">
							<p>Existing patients <span class="hidden-xs hidden-xxs">of our practice </span>call: <span><a href="tel:+12538640555">(253) 864-0555</a></span></p>
						</div>
					</div>
				</section>

				<section id="team">
						<div class="heading	centered">
							<h2>Meet The Doctor</h2>
						</div>

    			<div>
    				<div class="container">
    					<div class="flexslider boxed-slider">
							<ul class="slides">
								<li>
									<img src="assets/images/team/1.jpg" />
								</li>
								<li>
									<img src="assets/images/team/2.jpg" />
								</li>
								<li>
									<img src="assets/images/team/3.jpg" />
								</li>
							</ul>
						</div>
    				</div>
    			</div>

					<div class="text-center container">
					<h4  class="smile-text">Dr. Christopher Madsen and his family welcome you to a wonderful dental experience that is sure to make you smile!</h4>
				</div>

						<div class="container">
							<div class="row">
								<div class="container col-lg-4 col-md-4 col-sm-4" style="">
									<div class="doctor-info">
										<div class="heading sub-head doctor-header">
											<h3 class="doctor-text">Christopher R. Madsen, DDS</h3>
											<p class="doctor-subtext">Family &amp; Cosmetic Dentist</p>
										</div>
										<ul class="doctor-accolades">
											<li>American Dental Association</li>
											<li>Pierce County Dental Society</li>
											<li>Academy of General Dentistry</li>
											<li>University of Washington Alumni Association</li>
											<li>Summit Dental Study Club</li>
										</ul>	
												<div class="social-list margin-top-20">
                                <a href="https://www.facebook.com/MadsenDentistry/" target="_blank" class="nobottommargin" style="margin-right: 10px;">
                                    <img src="assets/images/social/facebook.png" alt="" />
                                </a>
                                <a href="http://www.yelp.com/biz/madsen-christopher-r-dds-puyallup" target="_blank" class="nobottommargin" style="margin-right: 10px;">
                                    <img src="assets/images/social/yelp.png" alt="" />
                                </a>
												</div>
									</div>
								</div>

								<div class="col-lg-8 col-md-8 col-sm-12 dentistry-for-today">
									<div class="heading sub-head">
										<h3 class="family-text">Dentistry for Today's Family</h3>
									</div>
									<p>
									Dentistry has changed a lot since you were a kid. However, the power of a beautiful, healthy smile remains constant. Dr. Christopher Madsen’s mission is to use the most advanced dental technology to help you enjoy a lifetime of healthy smiles.
									<br><br>
									A graduate of the prestigious University of Washington School of Dentistry, Dr. Madsen has acquired extensive post-doctoral study in cosmetic dentistry, laser dentistry, decay prevention and restoration. This experience in advanced dentistry gives him a valuable perspective into the best ways to maintain and restore your family’s smiles.
									</p>
								</div>
							</div>
						</div>
				</section>

				<section id="specials">
					<div class="section">
						<div class="container">
							<div class="heading centered" style="margin-bottom: 30px">
								<h2 class="centered">Limited Time Specials </h2>
								<!-- Need to change this, can't figure out how to get the JS to work here... -->
								<h3 class="offer-ends">Offer ends June 20, 2016</h3>
							<p>New uninsured patients only</p>
							</div>

							<div class="row">
								<div class="col-md-4">
				    				<div class="pricing-tbl style-3 shape specials-borders">
				    					<h3>New Patient<br> Dental Exam</h3>
				    					<ul>
                          <li class="price_txt"><span class="price-lg">$65</span></li>
                       </ul>
                       <ul>
													<li><strong class="price-save">(save $221)</strong></li>
												</ul>
												<p style= "margin: 0 1em 1em 1em;" class="pricing-box-responsive pricing-box-responsive-one">Includes comprehensive exam by the doctor and necessary x&#8209;rays.</p>	
												<p style= "margin: 0 1em 1em 1em;"><small class="d-codes">(D0150, D0274, D0330)</small></p>
			    					</div>
			    			</div>

								<div class="col-md-4">
				    				<div class="pricing-tbl style-3 shape">
				    					<h3>New Patient<br> Dental Cleaning</h3>
				    					<ul>
                          <li class="price_txt"><span class="price-lg">$45</span></li>
                       </ul>
                       <ul>
													<li><strong class="price-save">(save $63)</strong></li>
												</ul>
												<p style= "margin: 0 1em 1em 1em;" class="pricing-box-responsive pricing-box-responsive-two">Includes a professional dental cleaning. A new patient exam is required. Does not include periodontal therapy. </p>	
												<p style= "margin: 0 1em 1em 1em;"><small class="d-codes">(D1110)</small></p>
			    					</div>
			    			</div>

								<div class="col-md-4">
				    				<div class="pricing-tbl style-3 shape">
				    					<h3>New Children's<br> Cleaning &amp; Exam</h3>
				    					<ul>
                          <li class="price_txt"><span class="price-lg">$99</span></li>
                       </ul>
                       <ul>
													<li><strong class="price-save">(save $319)</strong></li>
												</ul>
												<p style= "margin: 0 1em 1em 1em;" class="pricing-box-responsive pricing-box-responsive-three">Patients 12 and under receive a professional dental cleaning, fluoride treatment, cavity-detecting x-rays, and a comprehensive exam. </p>	
												<p style= "margin: 0 1em 1em 1em;"><small class="d-codes">(D1120, D1208, D0274, D0330, D0150)</small></p>
			    					</div>
			    			</div>

						</div>
					</div>
				</div>
			</section>	


				<!-- CALLS TO ACTION -->
				<section id="cta-desktop" class="calls-to-action page-section hidden-sm hidden-xs">
					<div class="container clearfix">
						<div class="row">
							<div class="col-sm-6 phone-numbers">
								<h3>New Patient Hotline: <span><a href="tel:+18885470475">(888) 547-0475</a></span></h3>
							</div>
<!-- Start Square Appointments Embed code --><a style="background-color: #1F7ED9; color: white; height: 40px; text-transform: uppercase; font-family: 'Square Market', 'helvetica neue', helvetica, arial, sans-serif; letter-spacing: 1px; line-height: 38px; padding: 0 28px; border-radius: 3px; font-weight: 500; font-size: 14px; cursor: pointer; display: inline-block;" href="https://squareup.com/appointments/book/DYUQNQ/young-creative-space">Book an Appointment</a><!-- End Square Appointments Embed code -->
						</div>
						<div class="row text-center existing-patients existing-patients-desktop">
							<p>Existing patients <span class="hidden-xs hidden-xxs">of our practice </span>call: <span><a href="tel:+2538640555">(253) 864-0555</a></span></p>
						</div>
					</div>
				</section>



			<section id="reviews">
					<div class="section fixed-bg" style="background-image:url('assets/images/reviews-background.jpg')">
						<div class="parallax-overlay"></div>
						<div class="container">
							<div class="heading centered ">
								<h2 class="reviews-text">Patient Reviews</h2>
								<div class="heading-separator"><span class="main-bg"></span><span class="dark-bg"></span></div>
							</div>
							<div class="testimonials testimonials-4 horizontal-slider text-center" data-slides_count="1" data-scroll_amount="1" data-slider-speed="1000" data-slider-infinite="1" data-slider-dots="0" data-slider-arrows="1">
								<div>
									<div class="testimonials-bg white shape lg">
										<div class="centered reviews-stars">
										&#9733; &#9733; &#9733; &#9733; &#9733;
										 </div>
										<p class="white reviews-review">"There are so many words I could use to describe Christopher R. Madsen, DDS and his staff, but the word "AMAZING" is at the top of my list."</p>
									<div class="margin-top-20">
									<p class="white reviews-name"> ~ Patric S.</p>
									</div>
									</div>
								</div>
								<div>
									<div class="testimonials-bg white shape lg">
										<div class="centered reviews-stars">
										&#9733; &#9733; &#9733; &#9733; &#9733;
										 </div>
										<p class="white" style="font-size: 23px">"Super staff, I am very pleased with Doctor Madsen and his staff."
										</p>
									<div class="margin-top-20">
									<p class="white reviews-name"> ~ Victor V..</p>
									</div>
									</div>
								</div>
								<div>
									<div class="testimonials-bg white shape lg">
										<div class="centered reviews-stars">
										&#9733; &#9733; &#9733; &#9733; &#9733;
										 </div>
										<p class="white reviews-review">"The office was clean and bright and equipped with newer dental technology. It was a great experience... I would certainly recommend this office to anyone"
										</p>
									<div style="margin-top: 20px;">
									<p class="white reviews-name"> ~ Kara K.</p>
									</div>
									</div>
								</div>
								<div>
									<div class="testimonials-bg white shape lg">
									<div class="centered reviews-stars">
									&#9733; &#9733; &#9733; &#9733; &#9733;
									<div class="margin-top-20">
										<p class="reviews-review white">"Dr. Madsen is always friendly and entertaining and provides a comfortable atmosphere. The office was recommended to me by a friend and it's been a great choice!"
										</p>
											<div class="margin-top-20">
											<p class="white reviews-name"> ~ Susannah Y.</p>
											</div>
									</div>
									</div>
									</div>
								</div>
						</div>
						</div>
					</div>
				</section>

					<section id="services">
					<div class="section">
						<div class="container">
							<div class="heading centered" >
							<h2 class="services-header">Services </h2>
							<h4 class="services-subtext">Click on any service below to learn more about our offerings.</h4>
						</div>
							<div class="portfolio p-4-cols simple" id="container">

								<!-- One-Visit Crowns -->
                    <article class="portfolio-item">
                        <div class="portfolio-image" data-animate="bounceIn">
                            <a data-toggle="modal" data-target="#one-visit-crowns" href="#">
                                <img src="assets/images/services/crowns.jpg" alt="One-Visit Crowns">
                            </a>
                        </div>
                        <div class="portfolio-desc centered">
                            <a data-toggle="modal" data-target="#one-visit-crowns" href="#"><h3 class="services-margin">One-Visit Crowns</h3>
                            <p class="click-for-info text-center">Click for more information</p></a>
                        </div>

                        <!-- One-Visit Crowns CONTENT -->
                        <div class="modal fade" id="one-visit-crowns" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-body">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">One-Visit Crowns</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img src="assets/images/services/crowns.jpg" alt="One-Visit Crowns" class="img-responsive hidden-xxs hidden-xs" /><br />
                                            <p>CEREC® technology allows our practice to create tooth-colored porcelain restorations for healthy, beautiful smiles in a single appointment.</p>
                                            <p>Crowns should be placed before the tooth is so decayed that it may fracture. This can often help prevent the expense of root canal therapy in the future. If a tooth is too damaged to have a crown applied, a porcelain bridge may be a good alternative.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!-- Cosmetic Dentistry -->
                    <article class="portfolio-item">
                        <div class="portfolio-image" data-animate="bounceIn">
                            <a data-toggle="modal" data-target="#cosmetic-dentistry" href="#">
                                <img src="assets/images/services/cosmetic.jpg" alt="Cosmetic Dentistry">
                            </a>
                        </div>
                        <div class="portfolio-desc centered">
                            <a data-toggle="modal" data-target="#cosmetic-dentistry" href="#"><h3 class="services-margin">Cosmetic Dentistry</h3>
                            <p class="click-for-info text-center">Click for more information</p></a>
                        </div>

                        <!-- Cosmetic Dentistry CONTENT -->
                        <div class="modal fade" id="cosmetic-dentistry" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-body">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Cosmetic Dentistry</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img src="assets/images/services/cosmetic.jpg" alt="Cosmetic Dentistry" class="img-responsive hidden-xxs hidden-xs" /><br />
                                            <p>Cosmetic dentistry is one of the most cost-effective ways to improve your appearance. A beautiful, bright, healthy smile can increase self confidence and overall life satisfaction. Cosmetic dentistry can encompass things such as tooth-colored fillings, dental implants, or crowns. We have many options, so please call us for a free cosmetic consultation.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!-- Dental Implants -->
                    <article class="portfolio-item">
                        <div class="portfolio-image" data-animate="bounceIn">
                            <a data-toggle="modal" data-target="#dental-implants" href="#">
                                <img src="assets/images/services/implants.jpg" alt="Dental Implants">
                            </a>
                        </div>
                        <div class="portfolio-desc centered">
                            <a data-toggle="modal" data-target="#dental-implants" href="#"><h3 class="services-margin">Dental Implants</h3>
                            <p class="click-for-info text-center">Click for more information</p></a>
                        </div>

                        <!-- Dental Implants CONTENT -->
                        <div class="modal fade" id="dental-implants" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-body">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Dental Implants</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img src="assets/images/services/implants.jpg" alt="Dental Implants" class="img-responsive hidden-xxs hidden-xs" /><br />
                                            <p>Dental implants are a great option for replacing missing teeth, improving chewing ability, eliminating bridges, and replacing dentures. Several implants may provide a base for a series of artificial teeth known as a fixed bridge. Implants can even be used to secure a full set of removable dentures for people who have no remaining natural teeth.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!-- Family Care -->
                    <article class="portfolio-item">
                        <div class="portfolio-image" data-animate="bounceIn">
                            <a data-toggle="modal" data-target="#family-care" href="#">
                                <img src="assets/images/services/family-care.jpg" alt="Family Care">
                            </a>
                        </div>
                        <div class="portfolio-desc centered">
                            <a data-toggle="modal" data-target="#family-care" href="#"><h3 class="services-margin text-center">Family Care</h3>
                            <p class="click-for-info text-center">Click for more information</p></a>
                        </div>

                        <!-- Family Care CONTENT -->
                        <div class="modal fade" id="family-care" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-body">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Family Care</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img src="assets/images/services/family-care.jpg" alt="Family Care" class="img-responsive hidden-xxs hidden-xs" /><br />
                                            <p>From toddlers to the elderly, our skilled dental team is familiar with the unique needs of every patient, no matter their age. Our goal is to help them develop great oral habits that will last them a lifetime.</p>
                                            <p>Join us today and discover how our practice can help treat your entire family.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!-- Invisalign&reg; Orthodontics -->
                    <article class="portfolio-item">
                        <div class="portfolio-image" data-animate="bounceIn">
                            <a data-toggle="modal" data-target="#invisalign" href="#">
                                <img src="assets/images/services/invisalign.jpg" alt="Invisalign&reg; Orthodontics">
                            </a>
                        </div>
                        <div class="portfolio-desc centered">
                            <a data-toggle="modal" data-target="#invisalign" href="#"><h3 class="services-margin">Invisalign&reg; Orthodontics</h3>
                            <p class="click-for-info text-center">Click for more information</p></a>
                        </div>

                        <!-- Invisalign® Orthodontics CONTENT -->
                        <div class="modal fade" id="invisalign" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-body">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Invisalign&reg; Orthodontics</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img src="assets/images/services/invisalign.jpg" alt="Invisalign&reg; Orthodontics" class="img-responsive hidden-xxs hidden-xs" /><br />
                                            <p>These “invisible” aligners are the latest in orthodontic technology for adults and teens. Straight teeth and a revitalized smile may no longer need to come from a mouth full of unattractive wire and bracket braces. Enhancing self-esteem and physical confidence, invisible braces offer an esthetic and barely visible alternative to conventional wire/bracket braces. Get the smile you've always wanted with Invisalign® Orthodontics.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!-- Smile-Whitening-->
                    <article class="portfolio-item">
                        <div class="portfolio-image" data-animate="bounceIn">
                            <a data-toggle="modal" data-target="#smile-whitening" href="#">
                                <img src="assets/images/services/smile-whitening.jpg" alt="Smile-Whitening">
                            </a>
                        </div>
                        <div class="portfolio-desc centered">
                            <a data-toggle="modal" data-target="#smile-whitening" href="#"><h3 class="services-margin">Smile-Whitening</h3>
                            <p class="click-for-info text-center">Click for more information</p></a>
                        </div>

                        <!-- Smile-Whitening Content -->
                        <div class="modal fade" id="smile-whitening" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-body">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Smile-Whitening</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img src="assets/images/services/smile-whitening.jpg" alt="Smile-Whitening" class="img-responsive hidden-xxs hidden-xs" /><br />
                                            <p>Many everyday things like coffee, tea and wine can significantly dull teeth. Smile-whitening enables us to significantly brighten your smile for that dazzling white smile you deserve.</p>
                                            <p>Plastic whitening trays will be made from models of your teeth. You will then place a special whitening gel in each tray and wear the trays in your mouth for several hours per day. (Many patients wear their trays after dinner and before bed.) A significant change in tooth color is usually seen in just four to six weeks.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!-- Digital Impressions -->
                    <article class="portfolio-item">
                        <div class="portfolio-image" data-animate="bounceIn">
                            <a data-toggle="modal" data-target="#digital-impressions" href="#">
                                <img src="assets/images/services/digital-impressions.jpg" alt="Digital Impressions">
                            </a>
                        </div>
                        <div class="portfolio-desc centered">
                            <a data-toggle="modal" data-target="#digital-impressions" href="#"><h3 class="services-margin">Digital Impressions</h3>
                            <p class="click-for-info text-center">Click for more information</p></a>
                        </div>

                        <!-- Digital Impressions Content -->
                        <div class="modal fade" id="digital-impressions" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-body">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Digital Impressions</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img src="assets/images/services/digital-impressions.jpg" alt="Digital Impressions" class="img-responsive hidden-xxs hidden-xs" /><br />
                                            <p>Digital impressions allow us to get an accurate 3D impression of your teeth including your jaw without the traditional messy goop used in the past. The digital impression gives us much more information and is more comfortable for you, our patients!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!-- Composite Fillings -->
                    <article class="portfolio-item">
                        <div class="portfolio-image" data-animate="bounceIn">
                            <a data-toggle="modal" data-target="#composite-fillings" href="#">
                                <img src="assets/images/services/tooth-colored.jpg" alt="Composite Fillings">
                            </a>
                        </div>
                        <div class="portfolio-desc centered">
                            <a data-toggle="modal" data-target="#composite-fillings" href="#">
                            <h3 class="services-margin">Composite Fillings</h3>
                            <p class="click-for-info text-center">Click for more information</p></a>
                        </div>

                        <!-- Composite Fillings Content -->
                        <div class="modal fade" id="composite-fillings" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-body">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Composite Fillings</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img src="assets/images/services/tooth-colored.jpg" alt="Composite Fillings" class="img-responsive hidden-xxs hidden-xs" /><br />
                                            <p>The common silver filling contains mercury. Dr. Madsen uses the highest-quality biocompatible, tooth-colored restorations to create healthy, beautiful smiles. Since the composite material adheres directly to the tooth enamel, less preparation of the tooth is required before using it. This means it is more durable and provides a more natural-looking result.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!-- Tooth Extractions -->
                    <article class="portfolio-item periodontal-box">
                        <div class="portfolio-image" data-animate="bounceIn">
                            <a data-toggle="modal" data-target="#tooth-extraction" href="#">
                                <img src="assets/images/services/extraction.jpg" alt="Tooth Extractions">
                            </a>
                        </div>
                        <div class="portfolio-desc centered">
                            <a data-toggle="modal" data-target="#tooth-extraction" href="#"><h3 class="services-margin">Tooth Extractions</h3>
                            <p class="click-for-info text-center">Click for more information</p></a>
                        </div>

                        <!-- Tooth Extractions CONTENT -->
                        <div class="modal fade" id="tooth-extraction" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-body">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Tooth Extractions</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img src="assets/images/services/extraction.jpg" alt="Tooth Extractions" class="img-responsive hidden-xxs hidden-xs" /><br />
                                            <p>Dr. Madsen performs tooth extractions in-office. If you or a family member is experiencing tooth pain, has a cracked or broken tooth, or may need an extraction give us a call for a consultation.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!-- Root Canals -->
                    <article class="portfolio-item periodontal-box">
                        <div class="portfolio-image" data-animate="bounceIn">
                            <a data-toggle="modal" data-target="#root-canal" href="#">
                                <img src="assets/images/services/root-canal.jpg" alt="Root Canals">
                            </a>
                        </div>
                        <div class="portfolio-desc centered">
                            <a data-toggle="modal" data-target="#root-canal" href="#"><h3 class="services-margin text-center">Root Canals</h3>
                            <p class="click-for-info text-center">Click for more information</p></a>
                        </div>

                        <!-- Root Canals CONTENT -->
                        <div class="modal fade" id="root-canal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-body">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Root Canals</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img src="assets/images/services/root-canal.jpg" alt="Root Canals" class="img-responsive hidden-xxs hidden-xs" /><br />
                                            <p>Root canal therapy is an excellent way to save a tooth that would otherwise die and need to be removed. All teeth that have had root canal therapy must be protected with a crown. This is because teeth that have had the pulp removed are more susceptible to fracture.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!-- Night Guards -->
                    <article class="portfolio-item periodontal-box">
                        <div class="portfolio-image" data-animate="bounceIn">
                            <a data-toggle="modal" data-target="#night-guard" href="#">
                                <img src="assets/images/services/night-guard.jpg" alt="Night Guards">
                            </a>
                        </div>
                        <div class="portfolio-desc centered">
                            <a data-toggle="modal" data-target="#night-guard" href="#"><h3 class="services-margin text-center">Night Guards</h3>
                            <p class="click-for-info text-center">Click for more information</p></a>
                        </div>

                        <!-- Night Guards CONTENT -->
                        <div class="modal fade" id="night-guard" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-body">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Night Guards</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img src="assets/images/services/night-guard.jpg" alt="Night Guards" class="img-responsive hidden-xxs hidden-xs" /><br />
                                            <p>If you feel you may grind your teeth at night or experience excess wear on your tooth enamel, please contact us for a free consultation. In addition to excess tooth wear, grinding your teeth at night can damage your teeth, cause neck and jaw pain, or headaches.</p>
                                            <p>We offer comfortable-to-wear custom night guards to help protect your teeth while you sleep.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!-- Sports Guards -->
                    <article class="portfolio-item periodontal-box">
                        <div class="portfolio-image" data-animate="bounceIn">
                            <a data-toggle="modal" data-target="#sports-guard" href="#">
                                <img src="assets/images/services/sports-guard.jpg" alt="Sports Guards">
                            </a>
                        </div>
                        <div class="portfolio-desc centered">
                            <a data-toggle="modal" data-target="#sports-guard" href="#"><h3 class="services-margin text-center" >Sports Guards</h3>
                            <p class="click-for-info text-center">Click for more information</p></a>
                        </div>

                        <!-- Sports Guards CONTENT -->
                        <div class="modal fade" id="sports-guard" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-body">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Sports Guards</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img src="assets/images/services/sports-guard.jpg" alt="Sports Guards" class="img-responsive hidden-xxs hidden-xs" /><br />
                                            <p>Any active athlete can benefit from wearing a mouthguard. With nearly half of all dental injuries coming from athletic activity, isn’t it time to protect your smile? Today’s mouth guards are comfortable and help reduce the severity of other injuries like concussions too.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

							</div>
						</div>
					</div>
					</section>

			<section id="location">
				<div class="gmap">
				    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
				  <div id="map_canvas">
			    </div>

			    <div class="section">

							<div class="heading centered" >
							<h2>Our Location </h2>
							<div class="heading-separator"><span class="main-bg"></span><span class="dark-bg"></span></div>
						</div>

				    <div class="container">
					    <div class="row">
						    <div class="col-md-4">
							    <div class="white-bg lg text-center">
								    <i class="fa fa-3x fa-map-marker main-color"></i>
								    <h3 class="madsen-dentistry">Madsen Dentistry</h3>
								    <h5 class="madsen-address">Christopher R. Madsen, DDS, PLLC</h5>
								    <p>3928 10th St SE
                    <br>
                    Puyallup, WA 98374</p>
                    <a class="click-directions" href="https://www.google.com/maps/place/3928+10th+St+SE,+Puyallup,+WA+98374/@47.1531179,-122.2841797,17z/data=!3m1!4b1!4m5!3m4!1s0x5490fc5edd5f5745:0x8d512cfbe07b51c!8m2!3d47.1531179!4d-122.281991" target="_blank">Click to view a larger map</a>
							    </div>
						    </div>

						    <div class="col-md-4">
							    <div class="white-bg text-center lg">
								    <i class="fa fa-3x fa-phone-square main-color"></i>
								    <h4 class="new-patient-footer">New Patient Hotline:<br><a class="new-patient-numbers" href="tel:+18885470475">(888) 547-0475</a></h4>
										<h5>Existing Patient Call:<br><a class="existing-patient-numbers" href="tel:+12538640555"> (253) 864-0555</a></h5>
							    </div>
						    </div>

						    <div class="col-md-4">
							    <div class="white-bg text-center lg">
								    <i class="fa fa-3x fa-calendar"></i>
								    <br>
								    <p class="schedule-appointment-footer">Click to schedue your appointment</p>
								    <a class="btn main-bg btn-xl shape footer-request-button" href="#" data-toggle="modal" data-target="#schedule-form" >Request Appointment</a>
							    </div>
						    </div>

					    </div>
				    </div>
			    </div>


		    </div>
		</section>

		    	<!-- Footer start -->
				<footer id="footWrapper" class="footer-minimal">
			    	<div class="footer-middle">
					    <div class="container">
						    <div class="row">
							    <div class="centered margin-bottom-20">
							    	<a><img alt="" src="assets/images/website-logo.svg" style="width: 58%;" class="center-block"></a>
							    </div>


							    <!-- footer social links right cell end -->
							    <div class="clearfix margin-bottom-15"></div>
							    <!-- footer copyrights left cell -->
                  <div class="col-xs-12 text-center" style="margin-bottom: 15px">
                      <p class="nobottommargin" style="color: #fff; text-shadow: 1px 1px #000;">Copyright &copy; <script>document.write(+new Date().getFullYear());</script> All Rights Reserved by <a href="http://www.tysonsteele.com" style="color: #fff;" target="_blank">Tyson Steele Associates</a>.</p>
                  </div>
							    <!-- footer social links right cell start -->
							    <div class="centered">
							    	<div class="social-list minimal-socials">
                      <a href="https://www.facebook.com/MadsenDentistry/" target="_blank" class="nobottommargin" style="margin-right: 10px;">
                          <img src="assets/images/social/facebook.png" alt="" />
                      </a>
                      <a href="http://www.yelp.com/biz/madsen-christopher-r-dds-puyallup" target="_blank" class="nobottommargin" style="margin-right: 10px;">
                          <img src="assets/images/social/yelp.png" alt="" />
                      </a>
								    </div>
							    </div>
						    </div>
					    </div>	
				    </div>
			    </footer>
		    	<!-- Footer end -->

		<!-- Back to top Link -->
	    <a id="to-top"><span class="fa fa-chevron-up shape main-bg"></span></a>


		<!-- Modal Scheduling Form -->
    <div class="modal" id="schedule-form" tabindex="-1" role="dialog" aria-labelledby="schedule-form-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" action="schedule.php">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="schedule-form-modal-label">Request an Appointment</h4>
                    </div>
                    <div class="modal-body">
                        <div class="clearfix">
                            <p class="teaser">YES! Please contact me to schedule an appointment or answer any questions I might still have:</p>
                        </div>
                        <table>
                            <tr id="person-field">
                                <th class="label">
                                    <label for="person">My name:</label>
                                </th>
                                <td class="field">
                                    <input type="text" required name="person" class="input_full" />
                                </td>
                            </tr>
                            <tr id="respond-field">
                                <th class="label">
                                    <label for="respond">Email:</label>
                                </th>
                                <td class="field">
                                    <input type="email" required name="respond" class="input_full" />
                                </td>
                            </tr>
                            <tr id="phone-field">
                                <th class="label">
                                    <label for="phone">Phone #:</label>
                                </th>
                                <td class="field">
                                    <input type="text" required name="phone" class="input_full" />
                                </td>
                            </tr>
                            <tr id="email-field">
                                <th class="label">
                                    <label for="email">Email:</label>
                                </th>
                                <td class="field">
                                    <input type="email" name="email" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button type="submit" class="center-block button main-bg btn-sm" style="font-size: 26px; border-radius: none !important; width: 100%;box-shadow: 3px 3px 3px #444">Request Appointment</button>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </form>
        </div>
    </div>

  </div>
  </div>
  </body>

	    <!-- Load JS plugins file -->
 		<script type="text/javascript" src="assets/js/assets.min.js"></script>
		<!-- general script file -->
		<script type="text/javascript" src="assets/js/madsen.js"></script>

 		<!-- SLIDER REVOLUTION  -->
		<script type="text/javascript" src="assets/revolution/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="assets/revolution/js/jquery.themepunch.revolution.min.js">
		</script>

		<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
			(Load Extensions only on Local File Systems !  +
			The following part can be removed on Server for On Demand Loading) -->
		<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
		<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
		<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
		<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
		<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
		<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
		<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
		<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
		<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
		<!-- END SLIDER REVOLUTION 5.0 EXTENSIONS -->

    <!-- Specials Heading Template
    ============================================= -->
    <script type="text/template" id="specials-template">
        <h2 style="color: #2a3b8f;">Limited Time <%-  data.season %>&nbsp;Specials</h2>
        <span style="font-size: 30px; color: #000;">Offer ends <%= data.endMonth %>&nbsp;<%= data.endDay %>,&nbsp;<%= data.endYear %><br /></span><span style="font-size: 23px; color: #000"><strong>New uninsured patients only.</strong></span>
    </script>

	    <!-- Load JS plugins file -->
 		<script type="text/javascript" src="assets/js/assets.min.js"></script>
 		
 		<!-- FLEX SLIDER SCRIPT  -->
		<script type="text/javascript" src="assets/js/sliders/jquery.flexslider-min.js"></script>

		<script type="text/javascript" src="assets/js/script.js"></script>
		<script type="text/javascript" src="assets/js/specials.js"></script>


		
	</body>
</html>