body{
    font-family: "futura medium",sans-serif;
}
h1, h2, h3 {
    font-family: "futura",sans-serif;
    font-weight: 900;
    color: #000;
}

h3, h4, h5{
	    font-family: "futura medium",sans-serif;
	    color: #000;
}

.responsive-nav {
    margin-top: 25px;
}

p {
    font-size: 16px;
}

@media(max-width: 768px){
		p {
	    font-size: 13px;
	}
}

.top-head.transparent {
     border-bottom: none !important; 
}

.top-head.transparent-3 {
     border-bottom: none !important; 
}

@media (max-width: 1200px){
	.logo{
		text-align: center !important;
	}
}

.logo-responsive{
	height: 75%;
	width: 75%;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 0px !important;
}

@media (min-width: 991px) and (max-width: 1200px){
	.logo-responsive{
	height: 65%;
	width: 65%;
	margin-top: 4px;
	margin-bottom: 4px;
	}
}

@media (max-width: 480px){
	.logo-responsive{
	height: 40%;
	width: 40%;
	margin-top: 2px ;
	margin-bottom: 2px;
	}
}

@media(max-width: 768px){
	.doctor-image{
		height:55%;
		width:55%;
	}
}

textarea {
    width: 100%;
    height: 100px;
     padding: 15px; 
}

.services-text{
	color: #fff;
	background-color: #000;
	opacity: .8;
	font-size: 20px;
	padding: 10px;
	margin-bottom: 30px
}

.services-text-header{
	background-color: #000;
	opacity: .8;
	padding: 10px;
	margin-bottom: 30px
}

/*@media(max-width: 768px){
	.services-header-mobile{
		color: #fff !important;
	}*/

}

.services-subheader{
	color: #fff;
	background-color: #000;
	opacity: .8;
	font-size: 16px;
	padding: 10px;
	margin-bottom: 30px
}

.services-padding{
	margin-bottom: 10px;
}

.services-btn-pad{
	margin: 10px !important;
}



.services-background {
	background-image:url('../images/runfast-room.jpg');
}

@media (max-width: 768px){
	.services-background {
		background-image:url('../images/services-mobile.jpg') !important;
	}
}

.reviews-background{
	background-image:url('../images/reviews-background-derek-updated.jpg')
}

@media (max-width: 768px){
	.reviews-background {
		background-image:url('../images/reviews-mobile.jpg') !important;
	}
}

.appointment-background{
	background-image:url('../images/scheduling-background.jpg') !important;
}

@media (max-width: 768px){
	.appointment-background {
		background-image:url('../images/appt-mobile.jpg') !important;
	}
}

.reviews-text{
	color: #fff;
	background-color: #000;
	opacity: .7;
	font-size: 20px;
	padding: 15px;
}

.big-heart:before{
	color: #fff !important;
}

.forms-margin{
	margin-top: 25px;
}

.services-icons{
	font-size: 18px;

}

/*for double pop-up modal*/
.modal:nth-of-type(even) {
    z-index: 1042 !important;
}
.modal-backdrop.in:nth-of-type(even) {
    z-index: 1041 !important;
}

/** ACTIONS OVERRIDES */
.calls-to-action{padding:30px 0;border:0!important;background-color: #8ba100;text-shadow:1px 1px 1px rgba(0,0,0,.2);}
.calls-to-action h3{color:#f2f2f2 !important;font-size:15px;font-weight:700;margin-bottom:0; margin-top: 20px;}
.calls-to-action h3 a{display:block;color:#ffffff;font-size:3em;}
.calls-to-action h3 a{font-size:2em;}
.calls-to-action p, .calls-to-action span{color:#ffffff;margin-top:8px;}
.calls-to-action span a{color:inherit;}
.calls-to-action a.button{height:auto!important;padding:5px 20px!important;}
.calls-to-action .phone-numbers{border-right:1px solid #fff;padding-right:20px;padding-bottom: 18px;text-align:right;}
.calls-to-action .schedule-online{padding-left:20px;text-align:left;}
.calls-to-action .existing-patients p{font-size:24px;margin:0;}
.calls-to-action .existing-patients p a{font-weight:bold;}

@media (max-width: 768px){.calls-to-action h3 a{font-size:2em;}}

@media(max-width: 480px){ .calls-to-action{padding:10px 0;}}

@media(max-width: 767px){.existing-patients p a{margin-top:-10px;display:block;}}

@media (max-width: 767px){
    .calls-to-action{padding-top: 0px; padding-bottom: 30px;}
    .calls-to-action .phone-numbers, .calls-to-action .schedule-online{
    border-left:none;border-right:none;padding-left:0;padding-right:0;text-align:center;}
    .calls-to-action .existing-patients p{font-size:20px;}
    .calls-to-action .existing-patients p a {margin-top: 5px;}
    .calls-to-action h3 {font-size: 17px;margin-top: 30px;}
}

.calls-to-action .btn{
    background-color: blue !important;
    color: #fff !important;
    font-weight:bold;
    border: 1px solid #fff;
/*    margin-top: 10px;
*//*    box-shadow: 3px 3px 3px #444;
*/}

.calls-to-action .btn:hover{
/*    background-color: #f3f1dc !important;
*/}

.cta-doctor{ font-size: 25px !important;}

.phone-numbers-desktop{
    margin-top: -20px
}

.existing-patients-desktop{
    padding-top: 10px !important
}

@media(max-width: 768px){
	.affiliates-logo{
		height: 40% !important;
		width: 40% !important;
	}
}

/*#about{
padding-top: 65px;
padding-bottom: 30px;
}*/



#forms{
	background-color: #ffffff;
}

#contact{
		background-color: #ffffff;
}

/*Location Overrides*/

#location{
    background-color: #fff;
}

@media(max-width: 480px){
       #map_canvas{
        height: 200px; width: 100%;
    }
}

.madsen-dentistry{
    padding-top: 15px; color: blue  !important; font-size: 25px
}

.madsen-address{
    color: blue;
}

.click-directions{
    color: blue; text-decoration: underline; font-size: 15px
}

.new-patient-footer{
    padding-top: 15px;
}

.new-patient-numbers{
    color: blue; font-size: 28px
}

.existing-patient-numbers{
    color: #000; font-size: 19px
}

.footer-request-button{
    margin-top:5px;
}

.schedule-appointment-footer{}

#map_canvas{
    height: 450px; width: 100%;
}

head.header-2 .top-cart.new-angle > a:before {
     border-top-right-radius: none !important; 
     border-bottom-left-radius: none !important; 
}

.new-angle.lg, .contact-widget .details li i.new-angle.lg:before {
    border-top-right-radius: none !important;
    border-bottom-left-radius: none !important;
}


